{
    "candidate_labels": [
        "mobile_device_hardware",
        "equipment_requests",
        "security_incidents",
        "peripherals_hardware",
        "mfa_issues",
        "network_connectivity",
        "account_access",
        "remote_access",
        "software_updates",
        "bi_analytics",
        "network_security",
        "vpn_access",
        "time_tracking",
        "collaboration_tools",
        "training_support",
        "erp_systems",
        "voip_telephony",
        "sap_systems",
        "email_connectivity",
        "crm_systems",
        "software_installation",
        "email_client",
        "permissions_access",
        "software_licenses",
        "cloud_services",
        "new_hire_setup",
        "instant_messaging",
        "password_reset",
        "employee_termination",
        "video_conferencing",
        "database_systems",
        "desktop_hardware",
        "browser_issues",
        "printer_hardware",
        "microsoft_office",
        "laptop_hardware"
    ]
}
